// -*- mode: stan -*-
functions {
  {{>dlm}}
}
data {
  // dimensions
  int n; // number of observations / times
  int p; // number of states
  int r; // number of variables
  // observations
  vector[r] y[n];
  int y_miss[n, r];
  vector[n] y_diff;
  int y_n_nonmiss;
  int y_idx_nonmiss[y_n_nonmiss];

  // initial conditions
  vector[p] m0;
  cov_matrix[p] C0;

  // Battles
  // number of battles
  int n_battles;
  int n_battle_groups;
  int<lower = 1, upper = n_battle_groups> battle_group[n_battles];
  vector[n_battles] battle_skew;
  // battle observations can be split across times
  int n_battle_obs;
  int<lower = 1, upper = n_battles> battle[n_battle_obs];
  int<lower = 1, upper = n> battle_times[n_battle_obs];
  vector<lower = 0, upper = 1>[n_battle_obs] battle_obs_wgt;
  
  // prior params
  real<lower = 0.0> nu_theta;
  real<lower = 0.0> nu_gamma;
  real<lower = 0.0> tau_scale;
  real<lower = 0.0> sigma_scale;
  real<lower = 0.0> zeta_scale;
}
transformed data {
  vector[r] b_tv[n];
  matrix[r, p] F_tv[n];
  matrix[p, p] G_tv[n];
  
  b_tv <- rep_array(rep_vector(0.0, r), n);
  F_tv <- rep_array(rep_matrix(1.0, r, p), n);
  G_tv <- rep_array(rep_matrix(1.0, p, p), n); 
}
parameters {
  real<lower = 0.0> sigma;
  real<lower = 0.0> tau;
  vector<lower = 0.0>[n] lambda_theta;

  real alpha;
  vector[n_battle_groups] beta;
  vector[n_battles] gamma;
  real<lower = 0.0> zeta;
}
transformed parameters {
  // log-likelihood
  vector[r] loglik[n];
  matrix[p, p] W[n];
  vector[n] delta_battle;
  vector[n_battles] omega;
  vector[2 * p * p + 2 * p + 2 * r] dlm_res[n + 1];

  // total battle effects
  for (i in 1:n_battles) {
    omega[i] <- beta[battle_group[i]] + gamma[battle[i]];
  }
  // calculate the change in state
  delta_battle <- rep_vector(0.0, n);  
  for (i in 1:n_battle_obs) {
    delta_battle[battle_times[i]] <- delta_battle[battle_times[i]] + omega[battle[i]] * battle_obs_wgt[i];
  }
  for (i in 1:n) {
    W[i] <- rep_matrix(lambda_theta[i] * pow(sigma, 2) * pow(tau, 2) * y_diff[i], p, p);
  }
  {
    vector[r] V[n];
    vector[p] g_tv[n];

    for (i in 1:n) {
      g_tv[i] <- rep_vector(alpha * y_diff[i] + delta_battle[i], r);
    }
    V <- rep_array(rep_vector(pow(tau, 2), r), n);
    dlm_res <- dlm_filter(n, r, p,
                          y, y_miss,
                          b_tv, F_tv, V,
                          g_tv, G_tv, W,
                          m0, C0);
    loglik <- dlm_filter_loglik(n, r, p, dlm_res, y_miss);
  }
}
model {
  vector[n] ll;
  
  // BATTLES
  zeta ~ cauchy(0.0, zeta_scale);
  gamma ~ student_t(nu_gamma, 0.0, zeta * sigma * tau);
  
  // OBS EQUATION
  // bound measurement error away from 0
  // gamma(2, lambda) with lambda -> 0.
  // Chung et a. 2013, See Stan Modeling Guide on boundary avoiding priors.
  tau ~ gamma(2.0, 1.0 / tau_scale);
  // SYSTEM EQUATION
  sigma ~ cauchy(0.0, sigma_scale);
  lambda_theta ~ inv_gamma(0.5 * nu_theta, 0.5 * nu_theta);
  for (i in 1:n) {
    ll[i] <- loglik[i, 1];
  }
  increment_log_prob(sum(ll));
}
generated quantities {
  vector[p] theta[n + 1];
  // likelihood of obs: p(y | y_t, ..., y_t-1)
  vector[r] err[n];
  vector[r] Q_inv[n];
  // likelihood of obs: p(y | y_t, ..., y_t-1)
  vector[p] m[n + 1];
  vector[n] cum_delta_battle;
  cum_delta_battle <- cumulative_sum(delta_battle);
  
  err <- dlm_get_e_all(n, r, p, dlm_res);
  Q_inv <- dlm_get_Q_inv_all(n, r, p, dlm_res);
  m <- dlm_get_m_all(n, r, p, dlm_res);  
  theta <- dlm_filter_bsample_rng(n, r, p, G_tv, dlm_res);
}
