// -*- mode: stan -*-
functions {
  {{>dlm}}
}
data {
  // dimensions
  int n; // number of observations / times
  int p; // number of states
  int r; // number of variables
  // observations
  vector[r] y[n];
  int y_miss[n, r];
  vector[n] y_diff;
  // initial conditions
  vector[p] m0;
  cov_matrix[p] C0;

  // prior params
  real<lower = 0.0> nu_theta;  
  real<lower = 0.0> tau_scale;
  real<lower = 0.0> sigma_scale;
}
transformed data {
  vector[r] b_tv[n];
  vector[p] g_tv[n];     
  matrix[r, p] F_tv[n];
  matrix[p, p] G_tv[n];
  
  b_tv <- rep_array(rep_vector(0.0, r), n);
  g_tv <- rep_array(rep_vector(0.0, p), n); 
  F_tv <- rep_array(rep_matrix(1.0, r, p), n);
  G_tv <- rep_array(rep_matrix(1.0, p, p), n); 
}
parameters {
  real<lower = 0.0> sigma;
  real<lower = 0.0> tau;
  vector<lower = 0.0>[n] lambda_theta;
}
transformed parameters {
  vector[r] loglik[n];
  matrix[p, p] W[n];
  vector[2 * p * p + 2 * p + 2 * r] dlm_res[n + 1];

  for (i in 1:n) {
    W[i] <- rep_matrix(lambda_theta[i] * pow(sigma, 2) * pow(tau, 2) * y_diff[i], p, p);
  }
  {
    vector[r] V[n];
    
    V <- rep_array(rep_vector(pow(tau, 2), r), n);
    dlm_res <- dlm_filter(n, r, p,
                          y, y_miss,
                          b_tv, F_tv, V,
                          g_tv, G_tv, W,
                          m0, C0);
    loglik <- dlm_filter_loglik(n, r, p, dlm_res, y_miss);
  }
}
model {
  vector[n] ll;

  // OBS EQUATION
  // bound measurement error away from 0
  // gamma(2, lambda) with lambda -> 0.
  // Chung et a. 2013, See Stan Modeling Guide on boundary avoiding priors.
  // bound measurement error away from 0
  // gamma(2, lambda) with lambda -> 0.
  // Chung et a. 2013, See Stan Modeling Guide on boundary avoiding priors.
  tau ~ gamma(2.0, 1.0 / tau_scale);
  // SYSTEM EQ
  sigma ~ cauchy(0.0, sigma_scale);
  lambda_theta ~ inv_gamma(0.5 * nu_theta, 0.5 * nu_theta);
  for (i in 1:n) {
    ll[i] <- loglik[i, 1];
  }
  increment_log_prob(sum(ll));
}
generated quantities {
  vector[p] theta[n + 1];
  // likelihood of obs: p(y | y_t, ..., y_t-1)
  vector[r] err[n];
  vector[r] Q_inv[n];
  // likelihood of obs: p(y | y_t, ..., y_t-1)
  vector[p] m[n + 1];
  
  err <- dlm_get_e_all(n, r, p, dlm_res);
  Q_inv <- dlm_get_Q_inv_all(n, r, p, dlm_res);
  m <- dlm_get_m_all(n, r, p, dlm_res);  
  theta <- dlm_filter_bsample_rng(n, r, p, G_tv, dlm_res);

}
