// -*- mode: stan -*-
functions {
  {{>dlm}}
}
data {
  // dimensions
  int n; // number of observations / times
  int p; // number of states
  int r; // number of variables
  // observations
  vector[r] y[n];
  int y_miss[n, r];
  vector[n] y_diff;

  // initial conditions
  vector[p] m0;
  cov_matrix[p] C0;

  // Battles
  // number of battles
  int n_union;
  int n_union_obs;
  int<lower = 1, upper = n_union> union_battle[n_union_obs];
  int<lower = 1, upper = n> union_times[n_union_obs];
  vector<lower = 0, upper = 1>[n_union_obs] union_wgt;

  int n_confed;
  int n_confed_obs;
  int<lower = 1, upper = n_confed> confed_battle[n_confed_obs];
  int<lower = 1, upper = n> confed_times[n_confed_obs];
  vector<lower = 0, upper = 1>[n_confed_obs] confed_wgt;
  
  // prior params
  real<lower = 0.0> nu_theta;
  real<lower = 0.0> tau_scale;
  real<lower = 0.0> sigma_scale;
  real<lower = 0.0> zeta_scale;
  real<lower = 0.0> rho_a;
  real<lower = 0.0> rho_b;
}
transformed data {
  vector[r] b_tv[n];
  matrix[r, p] F_tv[n];
  matrix[p, p] G_tv[n];
  
  b_tv <- rep_array(rep_vector(0.0, r), n);
  F_tv <- rep_array(rep_matrix(1.0, r, p), n);
  G_tv <- rep_array(rep_matrix(1.0, p, p), n); 
}
parameters {
  real<lower = 0.0> sigma;
  real<lower = 0.0> tau;
  vector<lower = 0.0>[n] lambda_theta;

  real alpha;
  
  real beta_C;
  vector[n_confed] gamma_C;
  real<lower = 0.0> zeta;
  real<lower = 0.0, upper = 1.0> rho;  
  
  real beta_U;
  vector[n_union] gamma_U;

}
transformed parameters {
  // log-likelihood
  vector[r] loglik[n];
  matrix[p, p] W[n];
  vector[n] delta_battle;
  vector[n_confed] omega_C;
  vector[n_union] omega_U;
  vector[2 * p * p + 2 * p + 2 * r] dlm_res[n + 1];


  // total battle effects
  omega_U[1] <- beta_U + zeta * gamma_U[1];
  for (i in 2:n_union) {
    omega_U[i] <- rho * omega_U[i - 1] + (1.0 - rho) * beta_U + sqrt(rho) * zeta * gamma_U[i];
  }
  omega_C[1] <- beta_C + zeta * gamma_C[1];
  for (i in 2:n_confed) {
    omega_C[i] <- rho * omega_C[i - 1] + (1.0 - rho) * beta_C + sqrt(rho) * zeta * gamma_C[i];
  }
  // update
  delta_battle <- rep_vector(0.0, n);
  for (i in 1:n_confed_obs) {  
    delta_battle[confed_times[i]] <- delta_battle[confed_times[i]] + omega_C[confed_battle[i]] * confed_wgt[i];    
  }
  for (i in 1:n_union_obs) {
    delta_battle[union_times[i]] <- delta_battle[union_times[i]] + omega_U[union_battle[i]] * union_wgt[i];
  }
  for (i in 1:n) {
    W[i] <- rep_matrix(lambda_theta[i] * pow(sigma, 2) * pow(tau, 2) * y_diff[i], p, p);
  }
  {
    vector[r] V[n];
    vector[p] g_tv[n];

    for (i in 1:n) {
      g_tv[i] <- rep_vector(alpha * y_diff[i] + delta_battle[i], r);
    }
    V <- rep_array(rep_vector(pow(tau, 2), r), n);
    dlm_res <- dlm_filter(n, r, p,
                          y, y_miss,
                          b_tv, F_tv, V,
                          g_tv, G_tv, W,
                          m0, C0);
    loglik <- dlm_filter_loglik(n, r, p, dlm_res, y_miss);
  }
}
model {
  vector[n] ll;
  
  // BATTLES
  zeta ~ cauchy(0.0, zeta_scale);
  rho ~ beta(rho_a, rho_b);
  gamma_U ~ normal(0.0, 1.0);
  gamma_C ~ normal(0.0, 1.0);
  
  // OBS EQUATION
  // bound measurement error away from 0
  // gamma(2, lambda) with lambda -> 0.
  // Chung et a. 2013, See Stan Modeling Guide on boundary avoiding priors.
  tau ~ gamma(2.0, 1.0 / tau_scale);
  // SYSTEM EQUATION
  sigma ~ cauchy(0.0, sigma_scale);
  lambda_theta ~ inv_gamma(0.5 * nu_theta, 0.5 * nu_theta);
  for (i in 1:n) {
    ll[i] <- loglik[i, 1];
  }
  increment_log_prob(sum(ll));
}
generated quantities {
  vector[p] theta[n + 1];
  // likelihood of obs: p(y | y_t, ..., y_t-1)
  vector[r] err[n];
  vector[r] Q_inv[n];
  // likelihood of obs: p(y | y_t, ..., y_t-1)
  vector[p] m[n + 1];
  vector[n] cum_delta_battle;

  cum_delta_battle <- cumulative_sum(delta_battle);
  err <- dlm_get_e_all(n, r, p, dlm_res);
  Q_inv <- dlm_get_Q_inv_all(n, r, p, dlm_res);
  m <- dlm_get_m_all(n, r, p, dlm_res);  
  theta <- dlm_filter_bsample_rng(n, r, p, G_tv, dlm_res);
}
